# KiCad (hivatalos generált)
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
*.net
*.dsn
*.ses
*.xml
*.csv
**/*-backups/*.zip
*.kicad_prl

# PlatformIO
.pio/
.vscode/
.idea/
.history/
.cache/

# FreeCAD
*.FCStd1
*.FCBak
*.pyc
*.FC.lock
*.FCMD
*.FCMDO
*.FCMDS
*.FCMDC
*.FCMDR
*.FCMDP
*.FCMDT
*.FCMDG
*.FCMDL
*.FCMDM
*.FCMDN
*.FCMDV
*.FCMDW
*.FCMDX
*.FCMDY
*.FCMDZ
